<!-- views/partials/footer.ejs -->
<section class="nb-footer">
        <div class="container">
        <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="footer-single">
            <!-- 	<img src="images/logo.png" class="img-responsive" alt="Logo"> -->
        
                <!-- This is only for better view of theme if you want your image logo remove div dummy-logo bellow and replace your logo in logo.png and uncomment logo tag above-->
            <div class="dummy-logo">
            <div class="icon pull-left brand">
                <i class="fa fa-copy"></i>
            </div>
                <h2>Procygnus</h2>
                <p>Consulting & Advisory</p>
            </div>
        
                <p>Many of the institutions that have served us well for decades have come to the end of their lifespan. At the same time, enabled by the digital revolution humanity is beginning to reinvent these institutions around a new set of principles of collaboration, openness, interdependence and integrity.</p>
                <a href="" class="btn btn-footer">Read More</a>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="footer-single useful-links">
             <div class="footer-title"><h2>Navigation</h2></div>
             <ul class="list-unstyled">
                    <li><a href="#">Home <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#">About Us <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#">Services <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#">Portfolio <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#">Pricing <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#">Contact Us <i class="fa fa-angle-right pull-right"></i></a></li>
                </div>
        </div>
        <div class="clearfix visible-sm"></div>
        
        <div class="col-md-3 col-sm-6">
            
            <div class="col-sm-12 left-clear right-clear footer-single footer-project">
                <div class="footer-title"><h2>Latest Projects</h2></div>
                <div class="col-xs-4">
                    <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
                </div>
                <div class="col-xs-4">
                    <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
                </div>
                <div class="col-xs-4">
                    <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-4">
                    <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
                </div>
                <div class="col-xs-4">
                    <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
                </div>
                <div class="col-xs-4">
                    <img src="http://lorempixel.com/200/200/" class="img-responsive center-block">
                </div>
        
            </div>
        
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="footer-single">
                <div class="footer-title"><h2>Contact Information</h2></div>
                <address>
                    U26A8 DLF3, Gurgaon<br>
                    Haryana, India <br>
                    <i class="fa fa-phone"></i>  981 840 1411 <br>
                    <i class="fa fa-fax"></i> 0124 235 2345<br>
                    <i class="fa fa-envelope"></i> info@procygnus.in<br>
                </address>					
            </div>
        </div>
        
        </div>
        </div>
        </section>	
        
        <section class="nb-copyright">
        <div class="container">
        <div class="row">
        <div class="col-sm-6 copyrt xs-center">
            2018 © All Rights Reserved. <a href="/about">Terms & Conditions</a> | <a href="/about">Privacy Policy</a>
        </div>
        <div class="col-sm-6 text-right xs-center">
            <ul class="list-inline footer-social">
                <li><a href="https://www.facebook.com/procygnus/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/procygnus"><i class="fa fa-twitter"></i></a></li>
                <li><a href="/about"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="/about"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="/about"><i class="fa fa-skype"></i></a></li>
            </ul>
        </div>
        </div>
        </div>
        </section>
<p class="text-center text-muted">© Copyright 2018 Four Corners Design Group</p>
