<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>About Procygnus</h1>
					<p>
						Procygnus Consulting Group is a consulting and
						 business advisory firm that works to facilitate
						  an firms strategic change initiatives, improve
						   capacities to sense and adapt to change, induce 
						   empowering change in organizational culture,
						    and most fundamentally, to inspire people.

					</p>
				</div>
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>Join Us</h3>
					<p>
							We are always looking for professionals
							 with experience in the fields of agile
							  transition, full stack web development
							   and mobile app development for 
							   Android/iOS. Talk to us today! 
					</p>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>
	
</body>
</html>